@import '../../styles/variables';

.section {
    padding: 120px 0;
    position: relative;
    overflow: hidden;
    color: $color-off-white;
    background-color: $color-obsidian;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, $color-obsidian 0%, transparent 50%, $color-obsidian 100%);
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.2; // Subtle movement
    }
}

.contentOverlay {
    position: relative;
    z-index: 2;
}

.header {
    text-align: center;
    margin-bottom: 80px;

    h2 {
        font-family: $font-family-serif;
        font-size: 36px;
        margin-bottom: 0px;
        letter-spacing: 0.1em;
        font-weight: 700;

        @media (min-width: $breakpoint-tablet) {
            font-size: 56px;
        }
    }

    p {
        font-family: $font-family-sans;
        font-size: 13px;
        letter-spacing: 0.3em;
        color: $color-rose-steel;
        text-transform: uppercase;
        margin-bottom: 20px;
        display: block;
    }
}

.carouselContainer {
    padding: 0 20px;

    // Custom Swiper Arrow Styles Override
    :global(.swiper-button-next),
    :global(.swiper-button-prev) {
        color: $color-steel-light;
        transition: color 0.3s;
        transform: scale(0.8);

        &::after {
            font-size: 24px;
        }

        &:hover {
            color: $color-rose-steel;
        }
    }

    :global(.swiper-pagination-bullet) {
        background-color: $color-steel-dark;
        opacity: 0.5;
    }

    :global(.swiper-pagination-bullet-active) {
        background-color: $color-rose-steel;
        opacity: 1;
    }
}